@model EmployeeViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Employee</h1>
<br />
<br />

<form asp-action="Edit" enctype="multipart/form-data">
    <div asp-validation-summary="All"></div>
    <div>
        <img src="~/files/images/@Model.ImageName" width="75" class="img-fluid rounded-circle">
    </div>
    <partial name="PartialViews/CreateEditEmployeePartial" />

    <input type="submit" value="Save" class="btn btn-primary" /> |
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</form>

@section ValidationScriptSection{
    <partial name="_ValidationScriptsPartial" />
    @* <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script> *@
}